@font-face {
    font-family: 'Spline Sans';
    src: url('/assets/fonts/SplineSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Define el rango de pesos disponibles */
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Spline Sans Mono';
    src: url('/assets/fonts/SplineSansMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Define el rango de pesos disponibles */
    font-style: normal;
    font-display: swap;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;



